
<!-- Pagina HTML en cargada del login o ingreso al sistema-->

<meta charset="UTF-8">
<div class="container">
	<form class="form-signin">
		<h2 class="form-signin-heading" align="center">
			<strong>Autentíquese</strong>
		</h2>
		</br>
		<label for="inputEmail" class="sr-only">Usuario</label> 
		<input
			type="text" 
			id="inputEmail" 
			class="form-control"
			placeholder="Usuario" 
			required="required" 
			autofocus=""
			ng-model="idUsuario"> 
		<label for="inputPassword" class="sr-only">Contraseña</label> 
		<input 
			type="password"
			id="inputPassword" 
			class="form-control" 
			placeholder="Contraseña"
			required="required" 
			ng-model="contrasena">
		<button 
			class="btn btn-lg btn-primary btn-block" 
			type="button"
			ng-click="login()">Acceder</button>
	</form>
</div>
<link rel="stylesheet" href="Resources/css/login.css">
