<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Principal</title>
<!-- <script type="text/javascript" src="Resources/js/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="Resources/js/angular.js"></script> -->
<!-- <script type="text/javascript" src="Resources/js/angular-route.js"></script> -->
<!-- <script type="text/javascript" src="Resources/js/angular-cookies.js"></script> -->
<!-- <script type="text/javascript" src="Resources/js/usuario.js"></script> -->
<!-- </head> -->
<!-- <body ng-app="Usuario"> -->
<body>
	<div ng-controller="controllerPrincipal">
		<form name="login">
			<div>Amhable</div>
			<br>
			<!-- 	<li><a ng-href="llamarLogin()">login</a> -->
			<input type="button" value="LOGIN" ng-click="llamarLogin()" >
			<!-- 	<br> -->
			<!-- 	<br> -->
			<!-- 	<input type="button" ng-click="llamarArchivo()" value="ARCHIVOS"> -->
		</form>
	</div>
</body>
</html>