<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registro Usuario</title>
</head>
<body>
	<div>
		<p>
			Bienvenido<br> Para ingresar un nuevo usuario digite los datos
			solicitados.<br>
		</p>
	</div>

<!-- 	<form ng-submit="guardarUsuario()"> -->
<form name="guardar">
		<div>
			<label>Nombre de Usuario</label> <input type="text"
				ng-model="Usuario.idUsuario" />
		</div>
		<br> <label>Contraseña Usuario</label> <input type="password"
			ng-model="Usuario.contrasena" /> <br> <input type="submit"
			value="Guardar Usuario" ng-click="guardarUsuario()">

	</form>
	</div>
</body>
</html>